<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>MultiPLA - Login</title>
	<link rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/style.css">
	<!--[if IE 9]>
		<link rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/ie9.css"/>
	<![endif]-->

	<!--[if IE 8]>
		<link rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/ie8.css"/>
	<![endif]-->

	<!--[if IE 7]>
		<link rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/ie7.css"/>
	<![endif]-->
	<script language="javascript" type="text/javascript"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/custom/general.js"></script>
</head>

<body>

	<div class="loginlogo" style='text-align: center;'>
		<!--img src="{{ STATIC_URL }}images/logo2.png" alt="Logo"-->
		<br/>
		<span style='color: white; font-size: 40pt; font-weight: bold;'>Cadastro</span>
	</div><!--loginlogo-->

	<p>O jogo encontra-se em Pre-Alpha. Resets ocorrerao conforme forem necessarios.</p>
	{% if form.errors %}
		<div class="notification notifyError loginNotify">Tente novamente.</div>
	{% endif %}
	
		<form id="loginform" action="{% url signup %}" method="post" style='margin: 0 auto; width: 300px; color: white; text-align: right;'>
			{% csrf_token %}
			{{ form.as_p }}
			<input type='submit' value='cadastrar' />
		</form>
	</body>
</html>
